@import url('https://fonts.googleapis.com/css?family=Raleway');


#upload-options {
   display: flex;
   margin: 20px;
}

#upload-options div {
   margin: 0 10px;
}

#test-buttons {
   display: flex;
   margin: 20px;
}

#test-buttons div {
   margin: 0 10px;
}

#video-player {
   width: 650px;
   height: 500px;
   overflow: hidden;
   /* evita el cambio de tamaño si el video es mayor*/
}

#video {
   width: 100%;
   /* para que se adapte al tamaño del div*/
   height: 100%;
}

.mapcolor{
   align-items: center;
   object-position: cover;
   width: 50%;
   /* para que se adapte al tamaño del div*/
   height: 50%;
}

@media print {
   body {
      margin: 0;
   }
}

.cronometro {
   font-size: 8px;
   font-weight: bold;
   text-align: center;
   color: black;
   float: left;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}

.titulo {
   color: #8d2232;
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   
}

nav {
   background-color:#8d2232;
   color: #fff;
   display: flex;
   display: flex;
   align-items: center;
   justify-content: center;

}


nav button {
   background-color: #333;
   color: #fff;
   padding: 14px 16px;
   border: none;
   margin: 0 10px;
}

nav a {
   color: #fff;
   text-decoration: none;
   padding: 14px 16px;
}

nav a:hover {
   background-color: #444;
}

.upload-button {
   background-color: #000000;
   /* verde */
   color: white;
   padding: 14px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
}

.upload-button:hover {
   background-color: #8d2232;
   /* verde oscuro */
}



b {
   font-size: 20px;
   font-weight: bold;
 }

 #slider {
   width: 500px;
   height: 300px;
   overflow: hidden;
 }
 #slider ul {
   width: 1500px;
   height: 300px;
   margin: 0;
   padding: 0;
   list-style: none;
 }
 #slider li {
   float: left;
   width: 500px;
   height: 300px;
 }
 #slider img {
   object-fit: cover;
 }

 #slider img {
  width: 100%;
  height: 100%;
}


html body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: Raleway;
   background-color: #ecf0f1;
 }
 * {
   box-sizing: border-box;
 }
 .button {
   position: relative;
   padding: 1em 1.5em;
   border: none;
   background-color: transparent;
   cursor: pointer;
   outline: none;
   font-size: 18px;
   margin: 1em 0.8em;
 }

 .button.type4 {
   color: #8d2232;
 }
 .button.type4::after {
   content: "";
   display: block;
   position: absolute;
   height: 2px;
   width: 0;
   left: 0;
   background-color: #8d2232;
   transition: width 0.3s ease-in-out;
 }
 .button.type4::after {
   bottom: 0;
 }
 .button.type4:hover::after {
   width: 50px;
 }