<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Términos y condiciones:Consentimiento del usuario: El usuario da su consentimiento para que su actividad ocular sea rastreada y utilizada para fines de análisis de campañas publicitarias.Anonimato: Los datos recopilados del usuario son anónimos para proteger la privacidad del usuario.Uso de datos: Los datos recopilados solo serán utilizados para fines legítimos y consensuados con el usuario.Privacidad: Los datos recolectados serán anónimos y se utilizarán de manera responsable.Manipulación: El usuario está de acuerdo en usar la tecnología de seguimiento ocular en publicidad para la manipular de patrones de atención y comportamiento.Transparencia: Se garantizar que los datos recolectados serán transparentes, de modo que los usuarios podrán entender cómo se está utilizando su información.
    </p>
    
</body>
</html>