<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="import" href="eyeTracker.html">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Términos y condiciones:</h1>
    <h2> Consentimiento del usuario:</h2>
    <h3>
        El usuario da su consentimiento para que su actividad ocular sea rastreada y utilizada para fines de análisis de campañas publicitarias.

    </h3>
        <ul> <h4>
            Anonimato:
        </h4>
            <li>Los datos recopilados del usuario son anónimos para proteger la privacidad del usuario.</li>
        </ul>
        <ul> <h4>
            Uso de datos:
        </h4>
        <li> Los datos recopilados solo serán utilizados para fines legítimos y consensuados con el usuario.</li>
        </ul>
        <ul> <h4>
            Privacidad:
        </h4>
        <li> Los datos recolectados serán anónimos y se utilizarán de manera responsable.</li>
        </ul>
        <ul> <h4>
            Manipulación: 
        </h4>
        <li> El usuario está de acuerdo en usar la tecnología de seguimiento ocular en publicidad para la manipular de patrones de atención y comportamiento.</li>
        </ul>
        <ul> <h4>
            Transparencia:
        </h4>
        <li> Se garantizar que los datos recolectados serán transparentes, de modo que los usuarios podrán entender cómo se está utilizando su información.</li>
        </ul>
        <a href="eyeTracker.html">
            <button  class="button type4" type="button" >ATRAS</button>
        </a>
        
    
</body>
</html>